

<h1>Built-in Directives</h1>

<h2>Built-in attribute directives</h2>

<h3 id="ngModel">NgModel (two-way) Binding</h3>

<h4>Result: {{currentItem.name}}</h4>

<input [value]="currentItem.name"
       (input)="currentItem.name=$event.target.value" >
without NgModel
<br>
<input [(ngModel)]="currentItem.name">
[(ngModel)]
<br>
<input bindon-ngModel="currentItem.name">
bindon-ngModel
<br>
<input
  [ngModel]="currentItem.name"
  (ngModelChange)="currentItem.name=$event">
(ngModelChange)="...name=$event"
<br>
<input
  [ngModel]="currentItem.name"
  (ngModelChange)="setUppercaseName($event)">
(ngModelChange)="setUppercaseName($event)"


<hr><h2 id="ngClass">NgClass Binding</h2>

<p>currentClasses is {{currentClasses | json}}</p>
<div [ngClass]="currentClasses">This div is initially saveable, unchanged, and special</div>

not used in chapter
<br>
<label>saveable   <input type="checkbox" [(ngModel)]="canSave"></label> |
<label>modified:  <input type="checkbox" [value]="!isUnchanged" (change)="isUnchanged=!isUnchanged"></label> |
<label>special:   <input type="checkbox" [(ngModel)]="isSpecial"></label>
<button (click)="setCurrentClasses()">Refresh currentClasses</button>
<br><br>
<div [ngClass]="currentClasses">
  This div should be {{ canSave ? "": "not"}} saveable,
                  {{ isUnchanged ? "unchanged" : "modified" }} and,
                  {{ isSpecial ? "": "not"}} special after clicking "Refresh".</div>
<br><br>

<div [ngClass]="isSpecial ? 'special' : ''">This div is special</div>

<div class="bad curly special">Bad curly special</div>
<div [ngClass]="{'bad':false, 'curly':true, 'special':true}">Curly special</div>


<!-- NgStyle binding -->
<hr><h3>NgStyle Binding</h3>

<div [style.font-size]="isSpecial ? 'x-large' : 'smaller'" >
  This div is x-large or smaller.
</div>

<h4>[ngStyle] binding to currentStyles - CSS property names</h4>
<p>currentStyles is {{currentStyles | json}}</p>
<div [ngStyle]="currentStyles">
  This div is initially italic, normal weight, and extra large (24px).
</div>

<!-- not used in chapter -->
<br>
<label>italic: <input type="checkbox" [(ngModel)]="canSave"></label> |
<label>normal: <input type="checkbox" [(ngModel)]="isUnchanged"></label> |
<label>xlarge: <input type="checkbox" [(ngModel)]="isSpecial"></label>
<button (click)="setCurrentStyles()">Refresh currentStyles</button>
<br><br>
<div [ngStyle]="currentStyles">
  This div should be {{ canSave ? "italic": "plain"}},
                  {{ isUnchanged ? "normal weight" : "bold" }} and,
                  {{ isSpecial ? "extra large": "normal size"}} after clicking "Refresh".</div>



<hr>
<h2>Built-in structural directives</h2>
<h3 id="ngIf">NgIf Binding</h3>
<p>If isActive is true, app-item-detail will render: </p>
<app-item-detail *ngIf="isActive"></app-item-detail>
<button (click)="isActiveToggle()">Toggle app-item-detail</button>

<div *ngIf="currentItem">Hello, {{currentItem.name}}</div>
<div *ngIf="nullItem">Hello!!!<span>{{nullItem}}</span></div>
<button (click)="giveNullItemValue()">Give nullItem a value</button>

<!-- NgIf binding with template (no *) -->

<ng-template [ngIf]="currentItem">Add {{currentItem.name}} with template</ng-template>

<!-- Does not show because isActive is false! -->
<!-- <div>Hero Detail removed from DOM (via template) because isActive is false</div>
<ng-template [ngIf]="isActive">
  <app-hero-detail></app-hero-detail>
</ng-template> -->

<!-- isSpecial is true -->
<!-- <div [class.hidden]="!isSpecial">Show with class</div>
<div [class.hidden]="isSpecial">Hide with class</div> -->

<!-- HeroDetail is in the DOM but hidden -->
<!-- <app-hero-detail [class.hidden]="isSpecial"></app-hero-detail>

<div [style.display]="isSpecial ? 'block' : 'none'">Show with style</div>
<div [style.display]="isSpecial ? 'none'  : 'block'">Hide with style</div>

<a class="to-toc" href="#toc">top</a> -->

<!-- NgFor binding -->
<!-- <hr><h2 id="ngFor">NgFor Binding</h2>

<div class="box">
  <div *ngFor="let hero of heroes">{{hero.name}}</div>
</div>
<br>

<div class="box"> -->
  <!-- *ngFor w/ hero-detail Component -->
  <!-- <app-hero-detail *ngFor="let hero of heroes" [hero]="hero"></app-hero-detail>
</div> -->

<!-- <a class="to-toc" href="#toc">top</a>

<h4 id="ngFor-index">*ngFor with index</h4>
<p>with <i>semi-colon</i> separator</p>
<div class="box">
  <div *ngFor="let hero of heroes; let i=index">{{i + 1}} - {{hero.name}}</div>
</div> -->

<!-- <p>with <i>comma</i> separator</p>
<div class="box"> -->
  <!-- Ex: "1 - Hercules" -->
  <!-- <div *ngFor="let hero of heroes, let i=index">{{i + 1}} - {{hero.name}}</div>
</div> -->
<!--
<a class="to-toc" href="#toc">top</a>

<h4 id="ngFor-trackBy">*ngFor trackBy</h4>
<button (click)="resetHeroes()">Reset heroes</button>
<button (click)="changeIds()">Change ids</button>
<button (click)="clearTrackByCounts()">Clear counts</button>

<p><i>without</i> trackBy</p>
<div class="box">
  <div #noTrackBy *ngFor="let hero of heroes">({{hero.id}}) {{hero.name}}</div>

  <div id="noTrackByCnt" *ngIf="heroesNoTrackByCount" >
    Hero DOM elements change #{{heroesNoTrackByCount}} without trackBy
  </div>
</div>

<p>with trackBy</p>
<div class="box">
  <div #withTrackBy *ngFor="let hero of heroes; trackBy: trackByHeroes">({{hero.id}}) {{hero.name}}</div>

  <div id="withTrackByCnt" *ngIf="heroesWithTrackByCount">
    Hero DOM elements change #{{heroesWithTrackByCount}} with trackBy
  </div>
</div>

<br><br><br>

<p>with trackBy and <i>semi-colon</i> separator</p>
<div class="box">
  <div *ngFor="let hero of heroes; trackBy: trackByHeroes">
    ({{hero.id}}) {{hero.name}}
  </div>
</div>

<p>with trackBy and <i>comma</i> separator</p>
<div class="box">
  <div *ngFor="let hero of heroes, trackBy: trackByHeroes">({{hero.id}}) {{hero.name}}</div>
</div> -->
<!--
<p>with trackBy and <i>space</i> separator</p>
<div class="box">
  <div *ngFor="let hero of heroes trackBy: trackByHeroes">({{hero.id}}) {{hero.name}}</div>
</div>

<p>with <i>generic</i> trackById function</p>
<div class="box">
  <div *ngFor="let hero of heroes, trackBy: trackById">({{hero.id}}) {{hero.name}}</div>
</div>

<a class="to-toc" href="#toc">top</a> -->

<!-- NgSwitch binding -->
<!-- <hr><h2 id="ngSwitch">NgSwitch Binding</h2>

<p>Pick your favorite hero</p>
<div>
  <label *ngFor="let h of heroes">
    <input type="radio" name="heroes" [(ngModel)]="currentHero" [value]="h">{{h.name}}
  </label>
</div>

<div [ngSwitch]="currentHero.emotion">
  <app-happy-hero    *ngSwitchCase="'happy'"    [hero]="currentHero"></app-happy-hero>
  <app-sad-hero      *ngSwitchCase="'sad'"      [hero]="currentHero"></app-sad-hero>
  <app-confused-hero *ngSwitchCase="'confused'" [hero]="currentHero"></app-confused-hero>
  <div *ngSwitchCase="'confused'">Are you as confused as {{currentHero.name}}?</div>
  <app-unknown-hero  *ngSwitchDefault           [hero]="currentHero"></app-unknown-hero>
</div>

<a class="to-toc" href="#toc">top</a> -->
